---
layout: base-layout.njk
pagination:
  data: collections.100days
  size: 100
  reverse: true
  alias: posts
---

<div class="recent-posts">
  {% for post in posts %}
    <div class="post-wrapper">
      <h1 class="post-title">
        {{ post.data.title }}
      </h1>
      {% excerpt post %}
      <a href="{{ post.url | url }}">Read more</a>
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
    </div>
  {% endfor %}

</div>
