---
layout: base-layout.njk
pagination:
  data: collections.projects
  size: 100
  reverse: true
  alias: projects
---

<div class="recent-posts">
  {% for project in projects %}
    <div class="post-wrapper">
      <h1 class="post-title">
        {{ project.data.title }}
      </h1>
      {{ project.data.description }}
      <a href="{{ project.url | url }}">Read more</a>
      <time datetime="{{ projects.date | dateIso }}">{{ projects.date | dateReadable }}</time>
    </div>
  {% endfor %}

</div>
