---
layout: base-layout.njk
pagination:
  data: collections.projects
  size: 100
  reverse: true
  alias: projects
---

<div class="recent-projects">
  {% for project in projects %}
    <div class="project-tile">
      <img src={{project.data.image}}>
      <h1 class="project-title">
        {{ project.data.title }}
      </h1>
      {{ project.data.description }}
      <a href="{{ project.url | url }}">Learn more</a>
    </div>
  {% endfor %}

</div>
