// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
main {
    display: flex;
    flex-wrap: wrap;
    padding: .5em 2em; 

}

article {
    img {
        width: 100%;
        max-height: 40vh;
        object-fit: cover;
    }
}